*{/* 位置滿版 */
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}
body{
    background-color:#ffffff;
}
/* 導覽列 */
.main-header{
    position:sticky;
    top: 0px;
    width: 100%;
    z-index: 1;/* 將導覽列的層級設為1就不會被輪播圖覆蓋 */
    background-color: #007ae1;
}
.main-header .Logo{
    width: 50px;
    display: flex;/* 並排Logo & 文字 */
    text-decoration: none;/* 連結去底線 */
    font-family:Franklin Gothic Medium;/* 字型 */
}
.main-header .Logo img{
    width: 100%;
    vertical-align: middle;/* 垂直對齊：中間 */
}
.Logo h2{
    margin-left: 5px;
    font-size: 2em;
    color: #000000;
    text-shadow: 2px 0px 0px #f6a122;/* 文字外框 */
}
.container{
    display: flex;/* 並排 */
    padding: 20px;
    max-width: 100%;
    margin: auto;/* 將覽導列自動放到正中間 */
    align-items: center;/* 容器內所有項目對齊中間 */
    background-color: rgba(222, 222, 222, 0.4);/* 導覽列透明0~1之間 */
    text-shadow: 0px 0px 1px #ffffff;/* 文字外框 */
}
.navbar{
    margin: auto;/* 把空間分配給類別內的值 */
    font-size: 20px;
    font-weight: bold;/* 粗體文字 */
    
}
.navbar a{
    text-decoration: none;/* 連結去底線 */
    padding-left: 30px;/* 連結的左邊空間+30px */
    padding-right: 30px;/* 連結的右邊空間+30px */
    color: rgb(0, 0, 0);
}
.navbar a:hover{
    border-bottom:5px solid #FFDEAD;
}
.container ul{
    list-style-type: none;/* 去標記點 */
    display: flex;
    margin-bottom: 0;
  }
  .container ul li{
    margin: 10px;
  }
  .container ul li a{
    text-decoration: none;/* 連結去底線 */
    color: #000000;
    font-weight: bold;/* 粗體文字 */
  }

  /* 個人資料框 */
.account-settings .user-profile {
    margin: 0 0 1rem 0;
    padding-bottom: 1rem;
    text-align: center;
}
.account-settings .user-profile .user-avatar {
    margin: 0 0 1rem 0;
}
.account-settings .user-profile .user-avatar img {
    width: 90px;
    height: 90px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    border-radius: 100px;
}
.account-settings .user-profile h5.user-name {
    margin: 0 0 0.5rem 0;
}
.account-settings .user-profile h6.user-email {
    margin: 0;
    font-size: 0.8rem;
    font-weight: 400;
    color: #9fa8b9;
}
.account-settings .about {
    margin: 2rem 0 0 0;
    text-align: center;
}
.account-settings .about h5 {
    margin: 0 0 15px 0;
    color: #007ae1;
}
.account-settings .about p {
    font-size: 0.825rem;
}
.form-control {
    border: 1px solid #cfd1d8;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    font-size: .825rem;
    background: #ffffff;
    color: #2e323c;
}

.card {
    background: #ffffff;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border: 0;
    margin-bottom: 1rem;
}
